.finish-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: inherit;
  min-width: 320px;
  padding: 0px 2vh;
}

.finish-frame {
  background: linear-gradient(#16301e, #121e16);
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  padding: 1.5rem;
  margin: 2.5vh auto 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 2px 4px 10px #121e16;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container {
  background-color: #121e16;
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  margin: 0px auto 2.5vh;
  padding: 0rem 1.5rem 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 4px 10px #121e16;
}

.finish-image {
  max-width: 100%;
  height: auto;
  max-height: 255px;
  border-radius: 30px;
}

.finish-header {
  color: #cfffdc;
  font-size: 38px;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  color: #cfffdc;
  text-align: center;
}

.separator {
  background-color: #cfffdc;
  width: 4px;
  align-self: stretch;
  margin: 0 12px;
}

.again-button {
  background-color: #cfffdc;
  color: #121e16;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 25px auto 0px;
}

.again-button:hover {
  background-color: #0c9292;
  transform: scale(1.2, 1.1);
}

@media (max-width: 550px) {
  .results {
    flex-direction: column;
  }

  .finish-header {
    font-size: 40px;
  }

  .separator {
    height: 4px;
    width: 100%;
    margin: 8px 0px;
  }

  .again-button {
    margin-top: 55px;
    margin-bottom: 5px;
  }

  .review-container {
    padding-bottom: 28px;
  }
}
