.question-page {
  display: flex;
  justify-content: center;
  background: inherit;
  min-width: 320px;
}

.quiz-frame {
  background: linear-gradient(#16301e, #121e16);
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  min-height: 500px;
  height: auto;
  padding: 35px 40px;
  margin: 8vh 2vh;
  border-radius: 8px;
  box-shadow: 2px 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.MuiLinearProgress-root {
  height: 8px !important;
  border-radius: 10px !important;
}
