.question-frame {
  background-color: transparent;
  text-align: center;
  color: #cefada;
  font-size: 28px;
  margin: 0px 20px;
}

.answer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  background-color: #cefada;
  color: #121e16;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
}

.option:hover:not(.disabled-button) {
  background-color: #56cdcd;
}

.correct-answer {
  background-color: green;
  color: white;
}

.wrong-answer {
  background-color: red;
  color: white;
}

.disabled-button {
  pointer-events: none;
}

.show-answer .option {
  pointer-events: none;
}
