.question-page {
  display: flex;
  justify-content: center;
  background: inherit;
  min-width: 320px;
}

.quiz-frame {
  background: linear-gradient(#16301e, #121e16);
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  min-height: 500px;
  height: auto;
  padding: 35px 40px;
  margin: 4vw 15px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px #121e16;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.MuiLinearProgress-root {
  height: 8px !important;
  border-radius: 10px !important;
}

.question-frame {
  background-color: transparent;
  text-align: center;
  color: #cefada;
  font-size: 28px;
  margin: 12px 20px;
}

.answer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  background-color: #cefada;
  color: #121e16;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
}

.correct-answer {
  background-color: green;
  color: white;
}

.wrong-answer {
  background-color: red;
  color: white;
}

.disabled-button {
  pointer-events: none;
}

.error-message {
  font-size: 4.5vw;
  white-space: nowrap;
  font-weight: bold;
  color: #121e16;
  text-align: center;
  margin: 36vh 4vw;
  max-width: 400px;
}

.loading-spinner {
  position: fixed;
  top: 30%;
  left: 38%;
}

.MuiCircularProgress-root {
  width: 20vw !important;
  height: 20vw !important;
  color: #121e16 !important;
}

@media (max-width: 750px) {
  .option {
    transition: background-color 0.1s ease;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (min-width: 750px) {
  .option:hover:not(.disabled-button) {
    background-color: #56cdcd;
  }
}
